<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h3> Complete the fields !</h3>
  <div class="row justify-content-center mt-4 mb-2 ">
    <p style = "width: 200px"> First name : <input type="text" name="first_name" value="<%= @user.first_name %>"></p>
  </div>
  <div class="row justify-content-center">
    <p style = "width: 200px"> Last name : <input type="text" name="last_name" value="<%= @user.last_name %>"></p>
  </div>
  <div class="row justify-content-center">
    <p style = "width: 200px"> Description   : <input type="text" name="description" value="<%= @user.description %>"></p>
  </div>
  <div class="row justify-content-center">
    <p style = "width: 200px"> E-mail : <input type="mail" name="mail" value="<%= @user.email %>"></p>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
